<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA 글쓰기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/lth/reset.css">
    <link rel="stylesheet" href="/css/lth/write.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}">

    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                
            </div>
        </div>
        <div class="mypage-container">
            <div class="page-List">
                <a href="/mypage"><h2>캠핑게시판</h2></a>
                <nav>
                    <div>
                        <ul class="title-List">
                            <li>
                                <a href="/notice/user">공지사항</a>
                            </li>
                            <li>
                                <a href="/qna">QnA</a>
                            </li>
                            <li>
                                <a href="/review">캠핑 리뷰</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="page-title">
                <div class="title">
                    <h1>QnA</h1>
                </div>
                <div class="wrap"> 
                    <form onsubmit="return frmCheck()" action="/qna/write" method="post" autocomplete="off">
                        <ul>
                            <li>
                                <label>질문</label>
                                <input type="text" name="subject" class="input width-100 noto">
                            </li>
                            <li>
                                <label>작성자</label>
                                [[${userId}]]
                            </li>
                            <li>
                                <label>내용</label>
                                <textarea name="content" class="input width-100 height noto"></textarea>
                            </li>
                            <li>
                                <input type="submit" value="글저장" class="btn1">
                                <input type="reset" value="목록" class="btn1" onclick="move()">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>
    <script src="js/kdh/reservation/tabmove.js"></script>
    <script>
        window.onload = function() {
            document.querySelector("input[name=subject]").focus();
        }

        let subject = document.querySelector("input[name=subject]");
        let writer = document.querySelector("input[name=writer]");
        let content = document.querySelector("textarea[name=subject]");

        function frmCheck() {

                alert("질문을 입력해 주세요.");
                subject.focus();
                return false;
            }

            if(content.value == "") {
                alert("내용을 입력해 주세요.");
                content.focus();
                return false;
            }
        }


        function move() {
            location.href = "/qna";
        }


    </script>
</body>
</html>