<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 및 결제</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/css/kdh/reset.css">
    <link rel="stylesheet" href="../../static/css/kdh/reservation/reservation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <header th:insert="~{fragment/header::header_a}">
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">
                        <span>
                            <a href="/index">홈</a>
                        </span>
                        <span>
                            <a href="/register">회원가입</a>
                        </span>
                        <span>
                            <a href="/login">로그인</a>
                        </span>
                        <span>
                            <a href="/mypage">마이페이지</a>
                        </span>
                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3><a href="/index">CWM.CWM</a></h3>
                    </div> 
                    <div class="header-menu">  
                        <ul class="menuList">
                            <li>
                                <a href="/place/map">캠핑장 이용안내</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="/place/map">캠핑장 위치</a>
                                    </li>
                                    <li>
                                        <a href="">지역별 날씨</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/place/place">캠핑장 정보</a>
                            </li>
                            <li>
                                <a href="">예약/결제</a>
                            </li>
                            <li>
                                <a href="">캠핑 팁</a>
                            </li>
                            <li>
                                <a href="/notice">캠핑 게시판</a>
                                <ul class="submenu sub-right">
                                    <li>
                                        <a href="/notice">공지사항</a>
                                    </li>
                                    <li>
                                        <a href="">캠핑 리뷰</a>
                                    </li>
                                    <li>
                                        <a href="">Q&A</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                
            </div>
        </div>
        <div class="mypage-container">
            <div class="page-List">
                <a href="/mypage"><h2>예약 및 결제</h2></a>
                <nav>
                    <div>
                        <strong class="sub-title">예약 안내</strong>
                        <ul class="title-List">
                            <li>
                                <a href="">이용 가이드</a>
                            </li>
                            <li>
                                <a href="">요금 가이드</a>
                            </li>
                        </ul>
                    </div>
                    <div class="title-box">
                        <Strong class="sub-title">예약하기</Strong>
                        <ul class="title-List">
                            <li>
                                <a href="">실시간 예약</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="page-title">
                <h1>실시간 예약</h1>
                <hr>
                <div class="select-content">
                    <div class="select-List">
                        <form action="">
                            <div class="select">
                                <div class="choose-List">
                                    <dl>
                                        <dt>캠핑장 선택</dt>
                                        <dd>
                                           <input type="text" id="campName" name="campName" value="" placeholder="캠핑장을 선택해주세요."readonly>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>체크인</dt>
                                        <dd class="chkDate"></dd>
                                        <input type="text" id="checkinYmd" name="checkYmd" value="체크인 날짜 선택" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>체크아웃</dt>
                                        <dd class="chkDate"></dd>
                                        <input type="text" id="checkoutYmd" name="checkYmd" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>성인</dt>
                                        <input type="number" id="adult" class="quantity" value="0" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>청소년</dt>
                                        <input type="number" id="Teen" class="quantity" value="0" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>유아</dt>
                                        <input type="number" id="child" class="quantity" value="0" readonly>
                                    </dl>
                                </div>
                                <div>
                                    <button class="select-btn">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="location-List">
                    <div>
                        <div class="location-title">
                            <ul>
                                <li style="display: flex; justify-content: space-between;">
                                    <span>지역별</span>
                                    <span class="close-btn"> <i class="fa-solid fa-xmark"></i></span>
                                </li>
                            </ul>
                        </div>
                        <div class="location-box">
                            <dl>
                                <dt>서울</dt>
                                <dd>
                                    <ul class="location-name">
                                        <li class="l-name">
                                            서울 캠핑장
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>경기</dt>
                                <dd>
                                    <ul class="location-name">
                                        <li class="l-name">
                                            수원 캠핑장
                                        </li>
                                        <li class="l-name">
                                            성남 캠핑장
                                        </li>
                                        <li class="l-name">
                                            화성 캠핑장
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <dt>부산</dt>
                                <dd>
                                    <ul class="location-name">
                                        <li class="l-name">
                                            서면 캠핑장
                                        </li>
                                        <li class="l-name">
                                            대저 캠핑장
                                        </li>
                                        <li class="l-name">
                                            광안 캠핑장
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <div class="btn-box">
                                <button class="location-btn">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Calendar-box">
                    <table class="Calendar">
                        <thead>
                            <tr>
                                <td onClick="prevBtn();" style="cursor:pointer;" class="prev-btn"><i class="fa-solid fa-chevron-left"></i></td>
                                <td colspan="5">
                                    <span id="calYear"></span>년
                                    <span id="calMonth"></span>월
                                </td>
                                <td onClick="nextBtn();" style="cursor:pointer;" class="next-btn"><i class="fa-solid fa-chevron-right"></i></td>
                            </tr>
                            <tr>
                                <td>일</td>
                                <td>월</td>
                                <td>화</td>
                                <td>수</td>
                                <td>목</td>
                                <td>금</td>
                                <td>토</td>
                            </tr>
                        </thead>
            
                        <tbody class="Date-List">
                        </tbody>
                        <button class="Date-Btn">확인</button>
                    </table>
                </div>
                <div class="count-content">
                    <div>
                        <p class="close-line"><span>인원 선택</span><button class="count-btn"><i class="fa-solid fa-xmark"></i></button></i></p>
                    </div>
                    <div class="count-box">
                        <div class="count-title">
                            
                        </div>
                        <ul class="count-box">
                            <li class="count-List">
                                <span>성인</span>
                                <div>
                                    <button class="down-cnt-btn" onclick="downCnt('downAdult')"><span>-</span></button>
                                    <input type="number" value="0" readonly id="count-type-1" class="cnt" name="count-type-1">
                                    <button class="plus-cnt-btn" onclick="upCnt('plusAdult')"><span>+</span></button>
                                </div>
                            </li>
                            <li class="count-List">
                                <span>청소년</span>
                                <div>
                                    <button class="down-cnt-btn" onclick="downCnt('downTeen')"><span>-</span></button>
                                    <input type="number" value="0" readonly id="count-type-2" class="cnt" name="count-type-2">
                                    <button class="plus-cnt-btn" onclick="upCnt('plusTeen')"><span>+</span></button>
                                </div>
                            </li>
                            <li class="count-List">
                                <span>유아</span>
                                <div>
                                    <button class="down-cnt-btn" onclick="downCnt('downCild')"><span>-</span></button>
                                    <input type="number" value="0" readonly id="count-type-3" class="cnt" name="count-type-3">
                                    <button class="plus-cnt-btn" onclick="upCnt('plusChild')"><span>+</span></button>
                                </div>
                            </li>
                        </ul>
                        <div class="count-close">
                            <button class="count-close-btn">확인</button>
                        </div>
                    </div>
                </div>
                <div class="camp-position">
                    <div class="position-box">
                        <div class="position-title-1">
                            <div class="position-title">
                                <p>캠핑장 선택</p>
                                <div>
                                    <p>총9개</p>
                                    <p>n개 예약 가능</p>
                                </div>
                            </div>
                        </div>
                         <div class="camp-List">
                            <div class="position-List">
                                <div class="camp-box">
                                    <div>
                                        <p>1번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>2번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>3번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>4번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>5번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>6번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>7번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>8번</p>
                                    </div>
                                </div>
                                <div class="camp-box">
                                    <div>
                                        <p>9번</p>
                                    </div>
                                </div>
                         </div>
                         </div>
                    </div>
                </div>
            </div>
    </main>

    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>

    <script>
        // 체크인 체크아웃 화면 로딩시 초기값
        document.addEventListener("DOMContentLoaded", function() {
            
            let currentDate = new Date();

            
            let checkinDate = currentDate.toISOString().slice(0,10);
            document.querySelector("#checkinYmd").value = checkinDate;

           
            let nextDay = new Date(currentDate);
            nextDay.setDate(currentDate.getDate() + 1);

            
            let checkoutDate = nextDay.toISOString().slice(0,10);
            document.querySelector("#checkoutYmd").value = checkoutDate;
        });
    </script>
    <script src="../../static/js/kdh/reservation/tabmove.js"></script>
    <script src="../../static/js/kdh/reservation/selectLocation.js"></script>
</body>
</html>