<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 검색</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/kdh/reset.css">
    <link rel="stylesheet" href="/css/kdh/reservation/reservation.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <header th:insert="~{fragment/header::header_a}">

    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                
            </div>
        </div>
        <div class="mypage-container">
            <div class="page-List">
                <a href="/mypage"><h2>예약 및 결제</h2></a>
                <nav>
                    <div>
                        <strong class="sub-title">예약 안내</strong>
                        <ul class="title-List">
                            <li>
                                <a href="/reservation/reservationuseinfo">이용 가이드</a>
                            </li>
                            <li>
                                <a href="/reservation/reservationpaymentinfo">요금 가이드</a>
                            </li>
                        </ul>
                    </div>
                    <div class="title-box">
                        <Strong class="sub-title">예약하기</Strong>
                        <ul class="title-List">
                            <li>
                                <a href="/reservation">실시간 예약</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="page-title">
                <h1>실시간 예약</h1>
                <hr>
                <form action="/reservation/reservationOrder" method="post" onsubmit="return FirstOrderCheck()">
                    <div class="select-content">
                        <div class="select-List">
                            <div class="select">
                                <div class="choose-List">
                                    <dl>
                                        <dt>캠핑장 선택</dt>
                                        <dd>
                                           <input type="text" id="campName" value=""  name="campName"  placeholder="캠핑장을 선택해주세요."readonly>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>체크인</dt>
                                        <dd class="chkDate"></dd>
                                        <input type="text" id="checkinYmd" name="checkin" class="checkYmd" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt><i class="fa-regular fa-clock"></i></dt>
                                        <input type="text" name="checkdays" id="days" class="days" value="1" readonly>
                                        <span class="plus-text">박</span>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>체크아웃</dt>
                                        <dd class="chkDate"></dd>
                                        <input type="text" id="checkoutYmd" name="checkout" class="checkYmd" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>성인</dt>
                                        <input type="number" id="adult" class="quantity" name="adultNum" value="0" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>청소년</dt>
                                        <input type="number" id="Teen" class="quantity" name="teenNum" value="0" readonly>
                                    </dl>
                                </div>
                                <div class="choose-List">
                                    <dl>
                                        <dt>유아</dt>
                                        <input type="number" id="child" class="quantity" name="cildNum" value="0" readonly>
                                    </dl>
                                </div>
                                <div>
                                    <button class="select-btn" type="button">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location-List">
                        <div>
                            <div class="location-title">
                                <ul>
                                    <li style="display: flex; justify-content: space-between;">
                                        <span>지역별</span>
                                        <span class="close-btn"> <i class="fa-solid fa-xmark"></i></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="location-box">
                                <dl>
                                    <dt>서울</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                서울 난지 캠핑장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>경기</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                공릉관광지 캠핑장
                                            </li>
                                            <li class="l-name">
                                                용인 자연숲 캠핑장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>강원도</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                동강전망휴양림오토캠핑장
                                            </li>
                                            <li class="l-name">
                                                장호비치캠핑장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>전라도</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                정읍시 내장산 국민여가캠핑장
                                            </li>
                                            <li class="l-name">
                                                변산반도국립공원 고사포 야영장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>충청도</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                충주카누캠핑장
                                            </li>
                                            <li class="l-name">
                                                태안둘레길캠핑장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>경상도</dt>
                                    <dd>
                                        <ul class="location-name">
                                            <li class="l-name">
                                                사천비토솔섬오토캠핑장
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                                <div class="btn-box">
                                    <button class="location-btn" type="button">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Calendar-box">
                        <table class="Calendar">
                            <thead>
                                <tr>
                                    <td onClick="prevBtn();" style="cursor:pointer;" class="prev-btn"><i class="fa-solid fa-chevron-left"></i></td>
                                    <td colspan="5">
                                        <span id="calYear"></span>년
                                        <span id="calMonth"></span>월
                                    </td>
                                    <td onClick="nextBtn();" style="cursor:pointer;" class="next-btn"><i class="fa-solid fa-chevron-right"></i></td>
                                </tr>
                                <tr>
                                    <td>일</td>
                                    <td>월</td>
                                    <td>화</td>
                                    <td>수</td>
                                    <td>목</td>
                                    <td>금</td>
                                    <td>토</td>
                                </tr>
                            </thead>
                
                            <tbody class="Date-List">
                            </tbody>
                            <button class="Date-Btn" type="button">확인</button>
                        </table>
                    </div>
                    <div class="count-content">
                        <div>
                            <p class="close-line"><span>인원 선택</span><button class="count-btn" type="button"><i class="fa-solid fa-xmark"></i></button></i></p>
                        </div>
                        <div class="count-box">
                            <div class="count-title">
                                
                            </div>
                            <ul class="count-box">
                                <li class="count-List">
                                    <span>성인</span>
                                    <div>
                                        <button class="down-cnt-btn" type="button" onclick="downCnt('downAdult')"><span>-</span></button>
                                        <input type="number" value="0" readonly id="count-type-1" class="cnt" name="count-type-1">
                                        <button class="plus-cnt-btn" type="button" onclick="upCnt('plusAdult')"><span>+</span></button>
                                    </div>
                                </li>
                                <li class="count-List">
                                    <span>청소년</span>
                                    <div>
                                        <button class="down-cnt-btn" type="button" onclick="downCnt('downTeen')"><span>-</span></button>
                                        <input type="number" value="0" readonly id="count-type-2" class="cnt" name="count-type-2">
                                        <button class="plus-cnt-btn" type="button" onclick="upCnt('plusTeen')"><span>+</span></button>
                                    </div>
                                </li>
                                <li class="count-List">
                                    <span>유아</span>
                                    <div>
                                        <button class="down-cnt-btn" type="button" onclick="downCnt('downCild')"><span>-</span></button>
                                        <input type="number" value="0" readonly id="count-type-3" class="cnt" name="count-type-3">
                                        <button class="plus-cnt-btn" type="button" onclick="upCnt('plusChild')"><span>+</span></button>
                                    </div>
                                </li>
                            </ul>
                            <div class="count-close">
                                <button class="count-close-btn" type="button">확인</button>
                            </div>
                        </div>
                    </div>
                    <div class="camp-position">
                        <div class="position-box">
                            <div class="position-title-1">
                                <div class="position-title">
                                    <p><strong>캠핑장 선택</strong></p>
                                    <div>
                                        <p><strong>총9개</strong></p>
                                        <p class="search-count"><strong>0개</strong></p>
                                        <input type="hidden" name="campType">
                                        <input type="hidden" name="campPrice">
                                    </div>
                                </div>
                            </div>
                            <div class="price-day">
                                <span>*1박 기준</span>
                            </div>
                             <div class="camp-List">
                                <div class="position-List">
    
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="reserv-btn-box">
                        <button class="reserv-btn" type="submit">예약하기</button>
                        <input type="hidden" th:value="${userIdx}" name="idx">
                    </div>
                </form>
            </div>
    </main>

    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>

    <script>
        // 체크인 체크아웃 화면 로딩시 초기값
        document.addEventListener("DOMContentLoaded", function() {
            
            let currentDate = new Date();

            
            let checkinDate = currentDate.toISOString().slice(0,10);
            document.querySelector("#checkinYmd").value = checkinDate;

           
            let nextDay = new Date(currentDate);
            nextDay.setDate(currentDate.getDate() + 1);

            
            let checkoutDate = nextDay.toISOString().slice(0,10);
            document.querySelector("#checkoutYmd").value = checkoutDate;
        });
    </script>
    <script src="/js/kdh/reservation/tabmove.js"></script>
    <script src="/js/kdh/reservation/selectLocation.js"></script>
    <script src="/js/kdh/reservation/reservNext.js"></script>
</body>
</html>