<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/kdh/reset.css">
    <link rel="stylesheet" href="/css/kdh/mypage/mypage.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}">

    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                
            </div>
        </div>
        <div class="mypage-container">
            <div class="page-List" th:insert="~{fragment/mypage_side::mypage_side}">
                
            </div>
            <div class="page-title">
                <div class="userInfo-box">
                    <h3>[[${session.LoginIn.userName}]]님 정보</h3>
                    <div class="info">
                        <ul>
                            <li>
                                <span>아이디 :</span>
                                [[${session.LoginIn.userId}]]
                            </li>
                            <li>
                                <span>이메일 :</span>
                                [[${session.LoginIn.userEmail}]]
                            </li>
                            <li>
                                <span>전화번호 :</span>
                                [[${session.LoginIn.userTel}]]
                            </li>
                        </ul>
                        <ul class="update-info">
                            <li>
                               <a href="/mypage/update"><span>정보수정</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="use-content">
                    <div class="use-box">
                        <h3>1:1 문의 내역</h3>
                        <div class="notice-List">
                            <p>문의한 내역이 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="camp-box">
                <h3>최근 예약한 캠핑장</h3>
                <div class="info" th:each=" r : ${recent}">
                    <ul>
                        <li>
                            <span>캠핑장  :</span>
                            [[${r.campName}]]
                        </li>
                        <li>
                            <span>캠핑종류 :</span>
                            [[${r.campType}]]
                        </li>
                        <li>
                            <span>예약날짜 :</span>
                            [[${r.checkin}]]
                        </li>
                    </ul>
                    <ul class="camp-more">
                        <li>
                           <a th:href="@{/mypage/reservConfirm}"><span>더보기</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    
    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>

    <script src="js/kdh/reservation/tabmove.js"></script>
</body>
</html>