<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약내역 확인</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/kdh/reset.css">
    <link rel="stylesheet" href="/css/kdh/mypage/reservation.css">
</head>
<body>
<header th:insert="~{fragment/header::header_a}">

</header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                <div class="menu0">
                    <div class="menu00">
                        <h2>예약내역</h2>
                    </div>  
                </div>
            </div>
        </div>
        <section class="section-wrap">
            <div class="map-wrap">
                <div class="side-menu-bar">
                    <ul>
                        <li class="side-title">
                            <a href="./mypage.html"><span>마이페이지</span></a>
                        </li>
                        <li class="side-content">
                            <a href="./infoUpdate.html"><span>정보 수정</span></a>
                        </li>
                        <li class="side-content">
                            <a href="./reservation.html"><span>예약내역</span></a>
                        </li>
                        <li class="side-content">
                            <a href="./writeNotice.html"><span>작성 게시글</span></a>
                        </li>
                    </ul>
                </div>
                <!-- 위 사이드바 박스 부분 끝 -->
                <div>
                    <div class="tab">
                        <ul class="tabnav">
                            <li class="on"><a href="#tab-1" style="color: #000;">전체</a></li>
                            <li><a href="#tab-2">예약완료</a></li>
                            <li><a href="#tab-3">취소/환불</a></li>
                        </ul>
                        <div class="tab-container">
                            <div id="tab-1" class="tab-content">
                                <!-- <div class="all">
                                    <p>- 예약번호 유출에 주의해 주세요</p>
                                </div> -->
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check">
                                                    <p>취소완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 예약 완료 부분 -->
                            <div id="tab-2" class="tab-content">
                                <div class="all">
                                    <p>- 예약번호 유출에 주의해 주세요</p>
                                </div>
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check2">
                                                    <p>예약완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check2">
                                                    <p>예약완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check2">
                                                    <p>예약완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 예약 취소 부분-->
                            <div id="tab-3" class="tab-content">
                                <div class="all">
                                    <p>- 예약번호 유출에 주의해 주세요</p>
                                </div>
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check">
                                                    <p>취소완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="all-box-container">
                                    <div class="all-box-cotent">
                                        <div class="all-box-top">
                                            <p class="date">2023.11.19</p>
                                            <p class="num">예약번호 11111111111111111111</p>
                                        </div>
                                        <div class="all-information">
                                            <div class="img-cover">
                                                <div class="img-box">
                                                    <img src="../../static/images/mainimg2.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="reservation-information">
                                                <div class="reservation-check">
                                                    <p>취소완료</p>
                                                </div>
                                                <div class="reservation-name">
                                                    <p class="location">서면캠핑장</p>
                                                    <p class="name">글램핑A-1</p>
                                                </div>
                                                <div class="reservation-date">
                                                    <p>
                                                        2023.11.19 - 2023.11.27 
                                                    </p>
                                                    <p>
                                                        2인
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </section>
    </main>
 

    <script src="../../static/js/kdh/reservation/tabmove.js"></script>
</body>
</html>