<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 정보수정</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/css/kdh/reset.css">
    <link rel="stylesheet" href="../../static/css/kdh/mypage/infoUpdate.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <header th:insert="~{fragment/header::header_a}">

    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">

            </div>
        </div>
        <div class="mypage-container">
            <div class="page-List" th:insert="~{fragment/mypage_side::mypage_side}">
                
            </div>
            <div class="user-update">
                <h3>회원정보 수정</h3>
                <div class="update-info">
                    <form action="/mypage/infoUpdate" method="post" onsubmit="return InfoUpdate()">
                        <ul>
                            <li>
                                <div class="input-type">
                                    <label for="userName">
                                        <h3>이름</h3>
                                    </label>
                                    <input type="text" name="userName" id="userName" class="id-info" readonly
                                        th:value="${session.LoginIn.userName}">
                                </div>
                            </li>
                            <li>
                                <div class="input-type">
                                    <label for="userEmail">
                                        <h3>이메일</h3>
                                    </label>
                                    <input type="email" name="userEmail" id="userEmail" class="id-info" readonly
                                        th:value="${session.LoginIn.userEmail}">
                                </div>
                            </li>
                            <li>
                                <div class="input-type">
                                    <label for="userId">
                                        <h3>아이디</h3>
                                    </label>
                                    <input type="text" name="userId" id="userId" class="id-info" readonly
                                        th:value="${session.LoginIn.userId}">
                                </div>
                            </li>
                            <li>
                                <div class="input-type">
                                    <label for="userPwd">
                                        <h3>비밀번호</h3>
                                    </label>
                                    <input type="password" name="userPasswd" id="userPwd" onblur="passwdCkeck()"
                                        class="id-info" placeholder="8자 이상, 숫자와 영문 필수 포함" maxlength="20">
                                    <input type="password" name="checkPwd" id="checkPwd" onblur="passwdCkeck()"
                                        class="id-info" placeholder="비밀번호 확인" maxlength="20">
                                    <div class="pwd-text"></div>
                                </div>
                            </li>
                            <li>
                                <div class="input-type">
                                    <label for="userTel">
                                        <h3>전화번호</h3>
                                    </label>
                                    <input type="tel" name="userTel" id="userTel" class="id-info"
                                        placeholder="전화번호를 입력해주세요" th:value="${session.LoginIn.userTel}" maxlength="13">
                                </div>
                            </li>
                        </ul>
                        <div class="btn-box">
                            <input class="update-btn" type="submit" value="정보수정">
                        </div>
                        <input type="hidden" name="idx" id="idx" th:value="${session.LoginIn.idx}">
                    </form>
                    <script th:if="${res != null}" th:inline="javascript">
                        alert([[${res}]]);
                    </script>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>

    <script src="../../static/js/kdh/reservation/tabmove.js"></script>
    <script src="../../js/kdh/mypages/update.js"></script>
</body>

</html>