<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="./css/notice.css">
</head>
<body>
    <header>
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">
                        <span>
                            <a href="">홈</a>
                        </span>
                        <span>
                            <a href="">회원가입</a>
                        </span>
                        <span>
                            <a href="">로그인</a>
                        </span>
                        <span>
                            <a href="">마이페이지</a>
                        </span>
                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3>CWM.CWM</h3>
                    </div> 
                    <div class="header-menu">  
                        <ul class="menuList">
                            <li>
                                <a href="">캠핑장 이용안내</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="">캠핑장 위치</a>
                                    </li>
                                    <li>
                                        <a href="">지역별 날씨</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">캠핑장 정보</a>
                            </li>
                            <li>
                                <a href="">예약/결제</a>
                            </li>
                            <li>
                                <a href="">캠핑 팁</a>
                            </li>
                            <li>
                                <a href="">캠핑 게시판</a>
                                <ul class="submenu sub-right">
                                    <li>
                                        <a href="">공지사항</a>
                                    </li>
                                    <li>
                                        <a href="">캠핑 리뷰</a>
                                    </li>
                                    <li>
                                        <a href="">자유게시판</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="mypage-container">
            <div class="page-List">
                <a href=""><h2>마이 페이지</h2></a>
                <nav>
                    <div>
                        <strong class="sub-title">내 정보</strong>
                        <ul class="title-List">
                            <li>
                                <a href="./infoupdate.html">로그인 정보</a>
                            </li>
                            <li>
                                <a href="">작성한 글</a>
                            </li>
                            <li>
                                <a href="">찜 목록</a>
                            </li>
                        </ul>
                    </div>
                    <div class="title-box">
                        <strong class="sub-title">결제 내역</strong>
                        <ul class="title-List">
                            <li>
                                <a href="">전체 내역</a>
                            </li>
                            <li>
                                <a href="">예약 완료</a>
                            </li>
                            <li>
                                <a href="">예약 취소 </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="page-title">
                <div class="userInfo-box">
                    <h3>zzz님 정보</h3>
                    <div class="info">
                        <ul>
                            <li>
                                <span>아이디 :</span>
                                1q2w3e4r
                            </li>
                            <li>
                                <span>이메일 :</span>
                                mail@mail.com
                            </li>
                            <li>
                                <span>전화번호 :</span>
                                010-1111-1111
                            </li>
                        </ul>
                        <ul class="update-info">
                            <li>
                               <a href=""><span>정보수정</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="use-content">
                    <div class="use-box">
                        <h3>1:1 문의 내역</h3>
                        <div class="notice-List">
                            <p>문의한 내역이 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="camp-box">
                <h3>최근 찜한 캠핑장</h3>
                <div class="info">
                    <ul>
                        <li>
                            <span>캠핑장 명 :</span>
                            서면 캠핑장
                        </li>
                        <li>
                            <span>캠핑장 위치 :</span>
                           서면
                        </li>
                        <li>
                            <span>캠핑장 주소 :</span>
                           123로
                        </li>
                    </ul>
                    <ul class="camp-more">
                        <li>
                           <a href=""><span>더보기</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="notice">
        <div class="title">
            <h1>공지사항</h1>
        </div>
        <div class="notice-container">
            <div class="notice-search">
                <div class="inpbox">
                    <input type="text" placeholder="제목 + 내용">
                </div>
                <button type="button" class="notice-search-btn">
                    <img src="./images/magnifying-glass-solid.svg" alt="">
                </button>
            </div>
        </div>
        <div class="notice-List">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    <tr>
                        <td>
                            <span>1</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-page">
                <div class="table-page-detail">
                    <nav>
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <button class="write">글쓰기</button>
        </div>
    </div>
    
    <footer>
        <div class="footer-container">
            <div class="footer-wrap">
                <div>
                    <div class="footer-item">
                        <p>
                            <span><strong>CMW camping travle</strong></span>
                        </p>
                        <p>
                            <span>T. 051-111-1234 | F. 051-222-3456 | E. mailok@mail.com <br></span>
                        </p>
                        <p>
                            <span>부산광역시 서면 123로 561-30(작성자)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span>Copyrightⓒ CWM 캠핑 & All rights reserved.</span>
            </div>
            <div>
                <div class="footer-icon">
                    <a><i class="fa-brands fa-square-instagram"></i></a>
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-tiktok"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>