<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="css/lth/notice.css">
</head>
<body>
    <!-- <header>
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">
                        <span>
                            <a href="">홈</a>
                        </span>
                        <span>
                            <a href="">회원가입</a>
                        </span>
                        <span>
                            <a href="">로그인</a>
                        </span>
                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3>CWM.CWM</h3>
                    </div> 
                    <div class="header-menu">  
                        <ul class="menuList">
                            <li>
                                <a href="">캠핑장 이용안내</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="">캠핑장 위치</a>
                                    </li>
                                    <li>
                                        <a href="">지역별 날씨</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">캠핑장 정보</a>
                            </li>
                            <li>
                                <a href="">예약/결제</a>
                            </li>
                            <li>
                                <a href="">캠핑 팁</a>
                            </li>
                            <li>
                                <a href="">캠핑 게시판</a>
                                <ul class="submenu sub-right">
                                    <li>
                                        <a href="">공지사항</a>
                                    </li>
                                    <li>
                                        <a href="">캠핑 리뷰</a>
                                    </li>
                                    <li>
                                        <a href="">자유게시판</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <div class="notice">
        <div class="title">
            <h1>공지사항</h1>
        </div>
        <div class="notice-container">
            <div class="notice-search">
                <div class="inpbox">
                    <input type="text" placeholder="제목">
                </div>
                <button type="button" class="notice-search-btn">
                    <img src="./images/magnifying-glass-solid.svg" alt="">
                </button>
            </div>
        </div>
        <div class="notice-List">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>5</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    <tr>
                        <td>
                            <span>1</span>
                        </td>
                        <td>
                            <a href="">공지사항</a>
                        </td>
                        <td>
                            <span>2023.11.09</span>
                        </td>
                        <td>
                            <span>?</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <footer>
        <div class="footer-container">
            <div class="footer-wrap">
                <div>
                    개인정보취급방침
                </div>
                <div>
                    홈페이지 이용약관
                </div>
                <div>
                    공지사항
                </div>
                <div>
                    회원가입
                </div>
                <div>
                    로그인
                </div>
            </div>
            <div>
                <div class="footer-icon">
                    <span><i class="fa-brands fa-square-instagram"></i></span>
                    <span><i class="fa-brands fa-facebook"></i></span>
                    <span><i class="fa-brands fa-tiktok"></i></span>
                    <span><i class="fa-brands fa-youtube"></i></span>
                </div>
            </div>
        </div>
    </footer> -->
</body>
</html>