/***************  detail ***************/

.board_titWrap {

    padding: 30px 20px 25px;
    background: #fafafa;
    border-top: 2px solid #000;
    border-bottom: 2px solid #e5e5e5;
}

.subject {
    margin-top: -10px;
}

.subject h4 {
    font-size: 23px;
}

.reg_wrap {
    margin-top: 10px;
}

.reg_info .data {
    float: left;
}

.reg_info {
    display: flex;
    justify-content:space-between;
    vertical-align: middle;
    line-height: 15px;
}

.content {
    padding: 40px 60px;
    font-size: 16px;
    border-bottom: 2px solid #000;
    margin-bottom: 100px;
}

.bottom {
    display: flex;
    justify-content: right;
    margin-top: -50px;
}

.btn1 {
font-family: 'Noto Sans KR', sans-serif;
background-color: #000;
padding: 5px 15px;
font-size: 14px;
border: 0;
color: #fff;
cursor: pointer;
vertical-align: middle;
}


/*댓글*/
 


.comment-top h3 {
    margin-bottom: 30px;
}

.comment-top i {
    color: var(--btn-color-blue);
}

textarea {
    height:100px;
}

input {
    width:150px;
}



.comment-box {
    width: 100%;
    padding:20px;
    border-radius: 3px;
    border-top: 2px solid #e5e5e5;
}

.cComment {
    width: 90%;
}

.comment-name {
    display: flex;
}

.comment-box:nth-child(odd) {
    background-color: rgb(247, 247, 247);
}

.comment-btn {
    text-align: right;
}

.comment-box h3 {
    display: flex;
    justify-content: space-between;
}

.comment-box h3 span {
    font-weight: lighter;
    font-size: 14px;
}



.comment-box p {
    line-height:1.5;
    color: rgb(126, 126, 126);
}



.comment-box .msg-btn {
    text-align:right;
    margin-top:20px;
}
.comment-box .msg-btn a {
    color: rgb(126, 126, 126);
}

.comment-main {
   margin-bottom: 50px;
}
