<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지도페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/ssh/reset-copy.css">
    <link rel="stylesheet" href="/css/ssh/main-copy.css">
    <link rel="stylesheet" href="/css/ssh/map.css?after">
    <link rel="stylesheet" href="/css/ssh/common.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}"></header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
        </div>
        <div class="section0">
            <div class="map-wrap">
                <div class="page-List">
                    <a href="/map"><h2>전국 캠핑장 위치</h2></a>
                    <nav>
                        <div>
                            <strong class="sub-title">캠핑장 이용안내</strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/map">캠핑장 위치</a>
                                </li>
                            </ul>
                        </div>
                        <div class="title-box">
                            <Strong class="sub-title">캠핑장 정보</Strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/place">캠핑장 목록</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="map-content">
                    <div class="section00">
                        <div class="section-header">
                            <h2>전국 캠핑장 위치</h2>
                            <hr>
                        </div>
                    </div>
                    <div id="map" class="map-place"></div>
                </div>
            </div>
        </div>
    </main>
    <footer th:insert="~{fragment/footer::footer_a}"></footer>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=350d61e1c8af4895cfdf1d6afcd68fca"></script>
    <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(35.950701, 127.570667), //지도의 중심좌표.
            level: 12 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴



        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        //map.setCenter(coords);

        window.onload = function(){
            $.ajax({
                type: "get",
                url: "/place/map/mapList",
                dataType: "json",
                success: function(res){
                    var array = res.mList;
                    array.forEach(function(m, i){
                        var coords = new kakao.maps.LatLng(m.placeY, m.placeX);
                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: `<div class="placeName">${m.placeName}</div>`
                        });
                        // 마커에 마우스오버 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseover', function() {
                          // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
                            infowindow.open(map, marker);
                        });

                        // 마커에 마우스아웃 이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'mouseout', function() {
                            // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
                            infowindow.close();
                        });
                        // 마커에 클릭이벤트를 등록합니다
                        kakao.maps.event.addListener(marker, 'click', function() {
                              location.href=`/place/placedetail?&placeCode=${m.placeCode}`;
                        });
                    })

                }
            });
        }
    </script>
</body>
</html>