<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소상세페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/css/ssh/reset-copy.css">
    <link rel="stylesheet" href="/css/ssh/main-copy.css">
    <link rel="stylesheet" href="/css/ssh/common.css">
    <link rel="stylesheet" href="/css/ssh/placedetail.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}"></header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
        </div>
        <div class="section0">
            <div class="map-wrap">
                <div class="page-List">
                    <a href="/map"><h2>전국 캠핑장 위치</h2></a>
                    <nav>
                        <div>
                            <strong class="sub-title">캠핑장 이용안내</strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/map">캠핑장 위치</a>
                                </li>
                            </ul>
                        </div>
                        <div class="title-box">
                            <Strong class="sub-title">캠핑장 정보</Strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/place">캠핑장 목록</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="detail-content">
                    <div class="section00">
                        <div class="section-header">
                            <h2>전국 캠핑장 위치</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="detail-place">
                        <div class="detail-title" >
                            <div class="detail-title-title">
                                <h2>[[${detail.placeName}]]</h2>
                                <h2>[[${detail.placeCode}]]</h2>
<!--                                <input type="text" th:value="${session.LoginIn.idx}" name="memIdx">-->
                            </div>
                            <div class="detail-title-bookmark">
                                <i class="fa-solid fa-bookmark bookmark" id="bookmarkIcon" onclick="bookmark()"></i>
                            </div>
                            <div class="rating" id="ratingStars">
                                <span class="star" data-rating="1" onclick="setRating(1)">★</span>
                                <span class="star" data-rating="2" onclick="setRating(2)">★</span>
                                <span class="star" data-rating="3" onclick="setRating(3)">★</span>
                                <span class="star" data-rating="4" onclick="setRating(4)">★</span>
                                <span class="star" data-rating="5" onclick="setRating(5)">★</span>
                            </div>
                        </div>
                        <div class="detail-body">
                            <table>
                                <tr>
                                    <td>주소</td>
                                    <td><p>[[${detail.placeAddr}]]</p></td>
                                    <td>조회수</td>
                                    <td><p>[[${detail.visit} + 1]]</p></td>
                                </tr>
                                <tr>
                                    <td>연락처</td>
                                    <td>[[${detail.placeCall}]]</td>
                                    <td>후기</td>
                                    <td>
                                        <a href="">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>지도에서 보기</td>
                                    <td colspan="3">
                                        <a th:href="@{/place/map}">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="detail-pics">
                            <button class="left-arrow"><i class="fa-solid fa-angle-left"></i></button>
                            <div class="pic00-list">
                                <div class="pic01 visible">
                                    <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_detail_1.jpg|}">
                                </div>
                                <div class="pic02 hidden">
                                    <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_detail_2.jpg|}">
                                </div>
                                <div class="pic03 hidden">
                                    <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_detail_3.jpg|}">
                                </div>
                            </div>
                            <button class="right-arrow"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                        <div class="detail-position">
                            <h2>캠핑장 배치도</h2>
                            <div class="detail-position-icons">
                                <div class="icons">
                                    <i class="fa-solid fa-campground"></i>
                                    <br>
                                    <span>텐트1</span>
<!--                                    <span>(예약불가)</span>-->
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-campground"></i>
                                    <br>
                                    <span>텐트2</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-campground"></i>
                                    <br>
                                    <span>텐트3</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑1</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑2</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑3</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카1</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카2</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카3</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-etc">
                            <h2>주변 시설</h2>
                            <div class="detail-etc-etc">
                                <div class="detail-etc-pic">
                                    <div class="pic000-list">
                                        <div >
                                            <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_around_1.jpg|}">
                                        </div>
                                    </div>
                                    <div class="p">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum odit totam, pariatur blanditiis velit ea illum quibusdam animi exercitationem ipsa asperiores repudiandae officiis, quas molestias rerum cum at obcaecati.</p>
                                    </div>
                                </div>
                                <div class="detail-etc-pic">
                                    <div class="p">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis dolor eius aspernatur pariatur expedita consequatur facere fugit, deserunt labore voluptatibus. Ducimus libero debitis nisi ullam amet culpa totam earum, sequi quasi obcaecati aliquid mollitia dignissimos.</p>
                                    </div>
                                    <div class="pic000-list">
                                        <div >
                                            <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_around_2.jpg|}">
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-etc-pic">
                                    <div class="pic000-list">
                                        <div >
                                            <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_around_3.jpg|}">
                                        </div>
                                    </div>
                                    <div class="p">
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque soluta perspiciatis aliquid officia voluptates, quisquam ipsam est eius quasi temporibus nobis aliquam. Veniam neque aliquid beatae pariatur iusto at asperiores. Sint quod explicabo impedit quia magni, temporibus illum voluptas ipsam!</p>
                                    </div>
                                </div>
                                <div class="detail-etc-pic">
                                    <div class="p">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis dolor eius aspernatur pariatur expedita consequatur facere fugit, deserunt labore voluptatibus. Ducimus libero debitis nisi ullam amet culpa totam earum, sequi quasi obcaecati aliquid mollitia dignissimos.</p>
                                    </div>
                                    <div class="pic000-list">
                                        <div >
                                            <img th:src="@{|/images/ssh/place_${detail.placeCode}_files/thumb_camp_${detail.placeCode}_around_4.jpg|}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="bottom-left">
                                <a th:href="@{/place/place}">
                                    <button type="button" class="btn list">목록으로</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:insert="~{fragment/footer::footer_a}"></footer>

    <script>
        //북마크
        let isBookmarked = false;
        let obj = {
            "placeCode" : [[${detail.placeCode}]],
            "idx" : [[${session.LoginIn.idx}]]
        };
        function bookmark(){
            isBookmarked = !isBookmarked;
            if (isBookmarked) {
                 addBookmark();
            } else {
                 delBookmark();
            }
        }
        function addBookmark() {
            $.ajax({
                type: "post",
                url: "/place/placedetail/addBookmark",
                dataType: "json",
                data: obj,
                success: function(res) {
                    if (res.msg == "success") {
                        $("#bookmarkIcon").addClass("active");
                        alert("북마크가 추가되었습니다.");
                    } else {
                        isBookmarked = false;
                        alert("북마크 추가에 실패했습니다.");
                    }
                },
                error: function() {
                    isBookmarked = false;
                    alert("서버 오류가 발생했습니다.");
                }
            });
        }
        function delBookmark() {
            $.ajax({
                type: "post",
                url: "/place/placedetail/delBookmark",
                dataType: "json",
                data: obj,
                success: function(res) {
                    if (res.msg == "success") {
                        $("#bookmarkIcon").removeClass("active");
                        alert("북마크가 제거되었습니다.");
                    } else {
                        isBookmarked = true;
                        alert("북마크 제거에 실패했습니다.");
                    }
                },
                error: function() {
                    isBookmarked = true;
                    alert("서버 오류가 발생했습니다.");
                }
            });
        }


        // 별점매기기
        let currentRating = 0;
        function setRating(rating) {
            // 현재 선택된 별점을 업데이트
            if (rating === currentRating) {
                // 같은 별을 다시 클릭하면 별점 초기화
                rating = 0;
            }
            currentRating = rating;
            // 모든 별에 대한 활성화 클래스 제거
            const stars = document.querySelectorAll('.star');
            stars.forEach(star => star.classList.remove('active'));

            // 선택된 별점까지 활성화 클래스 추가
            for (let i = 0; i < rating; i++) {
                stars[i].classList.add('active');
            }
            // 여기에서 서버로 현재 별점을 전송할 수 있습니다.
            // 예: fetch 또는 AJAX 요청을 사용하여 서버에 데이터를 전송
            // sendDataToServer(currentRating);
        }

        //슬라이드
        $(document).ready(function(){
            var currentPic = 1;
            var totalPics = $(".pic00-list div").length;

            function showPic(index) {
                $(".pic00-list div").removeClass("visible").addClass("hidden");
                $(".pic00-list .pic0" + index).removeClass("hidden").addClass("visible");
            }

            $(".left-arrow").click(function(){
                currentPic = (currentPic === 1) ? totalPics : currentPic - 1;
                showPic(currentPic);
            });

            $(".right-arrow").click(function(){
                currentPic = (currentPic === totalPics) ? 1 : currentPic + 1;
                showPic(currentPic);
            });

            // 자동 슬라이드 (5초 간격)
            setInterval(function() {
                currentPic = (currentPic === totalPics) ? 1 : currentPic + 1;
                showPic(currentPic);
            }, 5000);
        });

    </script>

</body>
</html>