<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/ssh/reset-copy.css">
    <link rel="stylesheet" href="/css/ssh/main-copy.css">
    <link rel="stylesheet" href="/css/ssh/common.css">
    <link rel="stylesheet" href="/css/ssh/place.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}"></header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
        </div>
        <div class="section0">
            <div class="map-wrap">
                <div class="page-List">
                    <a href="/map"><h2>전국 캠핑장 위치</h2></a>
                    <nav>
                        <div>
                            <strong class="sub-title">캠핑장 이용안내</strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/map">캠핑장 위치</a>
                                </li>
                            </ul>
                        </div>
                        <div class="title-box">
                            <Strong class="sub-title">캠핑장 정보</Strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/place">캠핑장 목록</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="place-content">
                    <div class="section00">
                        <div class="section-header">
                            <h2>전국 캠핑장 위치</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="camp-option">
                        <div class="camp-count">
                            <span>현재 등록된 캠핑장 수 : [[${total}]]개</span>
                        </div>
                        <form action="/place/place" method="get" onsubmit="return placeOrder()">
                            <div class="camp-option-select">
                                <p>정렬</p>
                                <select name="selectType" class="selectType" onchange="updateSelectedOption();this.form.submit();">
                                    <option value="">정렬 순서</option>
                                    <option value="regdate" th:selected="${st eq 'regdate'}"> 최근 등록순</option>
                                    <option value="pop" th:selected="${st eq 'pop'}">인기순</option>
                                    <option value="name" th:selected="${st eq 'name'}">이름순</option>
                                    <option value="code" th:selected="${st eq 'code'}">지역순</option>
                                </select>
                            </div>
                        </form>
                        <form action="/place/place" method="get">
                            <div class="camp-option-search">
                                <label>캠핑장 검색</label>
                                <input style="padding-left: 5px;" type="text" name="search" class="search" id="search" placeholder="캠핑장 이름을 입력하세요">
                                <input type="submit" class="btn-search" value="search">
                            </div>
                        </form>
                    </div>
                    <div class="camp-place">
                        <div class="wrapp" th:each="ps : ${placeSearch}">

                                <div class="camp-place-title">
                                    <div class="camp-place-title-thumb">
                                        <div class="pic-thumb"  th:each="main : ${main}" th:if="${ps.placeCode == main.placeCode}">
                                            <img th:src="@{|/${main.folderName}/thumb_${main.orgName}|}" alt="${file.orgName}">
                                        </div>
                                    </div>
                                    <div class="camp-place-title-content">
                                        <div class="content-list">
                                            <div class="content-list-detail">
                                                <li id="name">이름 : </li>
                                                <p id="camp-name">[[${ps.placeName}]]</p>
                                            </div>
                                            <div class="content-list-detail">
                                                <li id="addr">주소 : </li>
                                                <p id="camp-addr">[[${ps.placeAddr}]]</p>
                                            </div>
                                            <div class="content-list-detail">
                                                <li id="tel">연락처 : </li>
                                                <p id="camp-tel">[[${ps.placeCall}]]</p>
                                            </div>
                                            <div class="content-list-detail">
                                                <li id="code">코드 : </li>
                                                <p id="camp-code">[[${ps.placeCode}]]</p>
                                            </div>
                                            <div class="content-list-detail">
                                                <li id="visit">총 조회수 :</li>
                                                <p id="camp-visit">[[${ps.visit}]]</p>
                                                <li id="bookmark">총 북마크 :</li>
                                                <p id="camp-bookmark">[[${ps.bookmark}]]</p>
                                                <li id="star">총 별점 :</li>
                                                <p id="camp-star">[[${ps.star}]]</p>
                                            </div>
                                            <div class="content-list-detail">
                                                <a th:href="@{/place/placedetail?(placeCode=${ps.placeCode})}">
                                                    <button type="button" class="btn detail">캠핑장 상세보기</button>
                                                </a>
                                                <a th:href="@{/place/deleteFiles?(placeCode=${ps.placeCode})}" th:onclick="dropTable([[${ps.placeCode}]])">
                                                    <button type="button" class="btn delete">캠핑장 삭제</button>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-center">
                            <div class="page-bar">
                                <!--                prev button-->
                                <a href="#" th:if="${page.page <= 1}"></a>
                                <a th:href="@{/place/place?(page=${page.page - 1}, selectType=${st}, search=${search})}" th:unless="${page.page <= 1}">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                                <!--                page number-->
                                <a th:each="i : ${#numbers.sequence(page.startPage, page.endPage, 1)}"
                                   th:href="@{/place/place?(page=${i}, selectType=${st}, search=${search})}">
                                    <th:block th:if="${page.page eq i}">
                                    <span style="color: #f00;">
                                        <strong>[[${i}]]</strong>
                                    </span>
                                    </th:block>
                                    <th:block th:unless="${page.page eq i}">
                                        <span>[[${i}]]</span>
                                    </th:block>
                                </a>
                                <!--                page number-->

                                <!--                next button-->
                                <a href="#" th:if="${page.page >= page.totalPage}"></a>
                                <a th:href="@{/place/place?(page=${page.page + 1}, selectType=${st}, search=${search})}" th:unless="${page.page >= page.totalPage}">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="bottom-right">
                            <a th:href="@{/place/placeregister}">
                                <button type="button" class="btn blue">캠핑장 등록</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer th:insert="~{fragment/footer::footer_a}"></footer>
<script>



    function dropTable(placeCode){
        if(confirm("삭제하면 복구할 수 없습니다.\n정말 삭제하시겠습니까?")){
            $.ajax({
                type: "get",
                url: "/place/deletePlace",
                dataType: "json",
                data: {placeCode},
                success: function(res){
                    if(res.msg == "success"){
                        alert("캠핑장이 삭제되었습니다.");
                        location.href="/place/place";
                    }
                }
            })
        }
    }

    function updateSelectedOption() {
        // select 요소와 선택된 값에 대한 참조를 얻습니다.
        var selectElement = document.querySelector('.selectType');
        var selectedValue = selectElement.value;

        // 모든 option 요소를 반복하면서 선택된 값을 가진 option을 찾습니다.
        var options = selectElement.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];

            // 선택된 값과 option의 값이 일치하는 경우 selected 속성을 설정합니다.
            if (option.value === selectedValue) {
                option.setAttribute('selected', 'selected');
            } else {
                // 일치하지 않는 경우 selected 속성을 제거합니다.
                option.removeAttribute('selected');
            }
        }
    }
</script>
</body>
</html>