<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/ssh/reset-copy.css">
    <link rel="stylesheet" href="/css/ssh/main-copy.css">
    <link rel="stylesheet" href="/css/ssh/place.css">
    <link rel="stylesheet" href="/css/ssh/common.css">
</head>
<body>
    <header th:insert="~{fragment/header::header_a}"></header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
        </div>
        <div class="section0">
            <div class="map-wrap">
                <div class="page-List">
                    <a href="/map"><h2>전국 캠핑장 위치</h2></a>
                    <nav>
                        <div>
                            <strong class="sub-title">캠핑장 이용안내</strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/map">캠핑장 위치</a>
                                </li>
                            </ul>
                        </div>
                        <div class="title-box">
                            <Strong class="sub-title">캠핑장 정보</Strong>
                            <ul class="title-List">
                                <li>
                                    <a href="/place/place">캠핑장 목록</a>
                                </li>
                                <li>
                                    <a href="/place/placedetail">캠핑장 상세</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="place-content">
                    <div class="section00">
                        <div class="section-header">
                            <h2>전국 캠핑장 위치</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="camp-option">
                        <form class="camp-option-select">
                            <p>정렬</p>
                            <select name="" id="">
                                <option value="001">최근 등록순</option>
                                <option value="002">인기순</option>
                                <option value="002">이름순</option>
                            </select>
                        </form>
                        <div class="camp-option-search">
                            <form action="">
                                <ul>
                                    <li>
                                        <label for="">캠핑장 검색</label>
                                        <input type="text" name="search" class="search" id="search" required placeholder="캠핑장 이름을 입력하세요">
                                    </li>
                                </ul>
                                <input class="btn" type="submit" value="search"><br>
                            </form>
                        </div>
                    </div>
                    <div class="camp-place">
                        <div class="camp-place-title">
                            <div class="camp-place-title-thumb">
                                <div class="pic-thumb">
                                    <img src="/images/ssh/camp-thumb-thumb.jpg" alt="캠핑섬네일">
                                </div>
                            </div>
                            <div class="camp-place-title-content">
                                <div class="content-list">
                                    <div class="content-list-detail">
                                        <li id="name">이름 : </li>
                                        <p id="camp1-name">이름받을곳</p>
                                    </div>
                                    <div class="content-list-detail">
                                        <li id="addr">주소 : </li>
                                        <p id="camp1-addr">주소받을곳</p>
                                    </div>
                                    <div class="content-list-detail">
                                        <li id="tel">연락처 : </li>
                                        <p id="camp1-tel">연락처받을곳</p>    
                                    </div>
                                </div>
                            </div>
                            <div class="camp-place-title-pic">
                                <div class="pic0-list">
                                    <div class="pic1">
                                        <img src="/images/ssh/camp1-thumb.jpg" alt="">
                                    </div>
                                    <div class="pic2">
                                        <img src="/images/ssh/camp2-thumb.jpg" alt="">
                                    </div>
                                    <div class="pic3">
                                        <img src="/images/ssh/camp3-thumb.jpg" alt="">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="page-bar">
                        페이지바
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer th:insert="~{fragment/footer::footer_a}"></footer>
</body>
</html>