<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소상세페이지</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/ssh/reset-copy.css">
    <link rel="stylesheet" href="../css/ssh/main-copy.css">
    <link rel="stylesheet" href="../css/ssh/placedetail.css">
    <script src="../js/ssh/placedetail.js"></script>
</head>
<body>
    <header>
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">
                        <span>
                            <a href="">홈</a>
                        </span>
                        <span>
                            <a href="">회원가입</a>
                        </span>
                        <span>
                            <a href="">로그인</a>
                        </span>
                        <span>
                            <a href="">마이페이지</a>
                        </span>
                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3>CWM.CWM</h3>
                    </div> 
                    <div class="header-menu">  
                        <ul class="menuList">
                            <li>
                                <a href="">캠핑장 이용안내</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="">캠핑장 위치</a>
                                    </li>
                                    <li>
                                        <a href="">지역별 날씨</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">캠핑장 정보</a>
                            </li>
                            <li>
                                <a href="">예약/결제</a>
                            </li>
                            <li>
                                <a href="">캠핑 팁</a>
                            </li>
                            <li>
                                <a href="">캠핑 게시판</a>
                                <ul class="submenu sub-right">
                                    <li>
                                        <a href="">공지사항</a>
                                    </li>
                                    <li>
                                        <a href="">캠핑 리뷰</a>
                                    </li>
                                    <li>
                                        <a href="">자유게시판</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="section0">
            <div class="bar-back"></div>
        </div>
        <div class="section0">
            <div class="section00">
                <div class="menu0">
                    <div class="menu00">
                        <h2>전국 캠핑장 위치</h2>
                    </div>  
                </div>
            </div>
        </div>
        <div class="section0">
            <div class="map-wrap">
                <div class="side-menu-bar">
                    <div class="side-title">
                        사이드제목
                    </div>
                    <div class="side-content">
                        사이드내용
                    </div>
                </div>
                <div class="detail-content">
                    <div class="detail-place">
                        <div class="detail-title">
                            <div class="detail-title-title">
                                <h2>db에서 가져올 이름</h2>
                            </div>
                            <div class="detail-title-bookmark">
                                <i class="fa-solid fa-bookmark" onclick="toggleImageClass(this)"></i>
                            </div>
                            <div class="rating" id="ratingStars">
                                <span class="star" data-rating="1" onclick="setRating(1)">★</span>
                                <span class="star" data-rating="2" onclick="setRating(2)">★</span>
                                <span class="star" data-rating="3" onclick="setRating(3)">★</span>
                                <span class="star" data-rating="4" onclick="setRating(4)">★</span>
                                <span class="star" data-rating="5" onclick="setRating(5)">★</span>
                            </div>
                        </div>
                        <div class="detail-body">
                            <table>
                                <tr>
                                    <td>주소</td>
                                    <td><p>db에서 가져올 주소</p></td>
                                    <td>요금 정보</td>
                                    <td><p>db에서 가져올 요금</p></td>
                                </tr>
                                <tr>
                                    <td>연락처</td>
                                    <td>db에서 가져올 연락처</td>
                                    <td>후기</td>
                                    <td>
                                        <a href=""></a>
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>현재 위치와의 거리</td>
                                    <td colspan="3">db에서 가져올 거리</td>
                                </tr>
                            </table>
                            
                        </div>
                        <div class="detail-pics">
                            <button class="left-arrow"><i class="fa-solid fa-angle-left"></i></button>
                            <div class="pics">
                                <div class="pic01">
                                    <img src="../images/ssh/camp1.jpg" alt="">
                                </div>
                                <div class="pic02 hidden">
                                    <img src="../images/ssh/camp2.jpg" alt="">
                                </div>
                                <div class="pic03 hidden">
                                    <img src="../images/ssh/camp3.jpg" alt="">
                                </div>
                            </div>
                            <button class="right-arrow"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                        <div class="detail-position">
                            <h2>예약 가능한 자리</h2>
                            <div class="detail-position-icons">
                                <div class="icons">
                                    <i class="fa-solid fa-campground active"></i>
                                    <br>
                                    <span>텐트</span>
                                    <span>(예약불가)</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-campground"></i>
                                    <br>
                                    <span>텐트</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-campground"></i>
                                    <br>
                                    <span>텐트</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-tents"></i>
                                    <br>
                                    <span>글램핑</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카</span>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-caravan"></i>
                                    <br>
                                    <span>캠핑카</span>
                                </div>
                            </div>
                        </div>
                        <div class="detail-etc">
                            <h2>주변 시설</h2>
                            <div class="detail-etc-pic">
                                <div class="detail-etc01">
                                    <div class="pic01">
                                        <img src="../images/ssh/around1.jpg" alt="">
                                    </div>
                                    <span>설명1</span>
                                </div>
                                <div class="detail-etc01">
                                    <div class="pic02">
                                        <img src="../images/ssh/around2.jpg" alt="">
                                    </div>
                                    <span>설명1</span>
                                </div>
                                <div class="detail-etc01">
                                    <div class="pic03">
                                        <img src="../images/ssh/around3.jpg" alt="">
                                    </div>
                                    <span>설명1</span>
                                </div>
                                <div class="detail-etc01">
                                    <div class="pic04">
                                        <img src="../images/ssh/around4.jpg" alt="">
                                    </div>
                                    <span>설명1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-wrap">
                <div>
                    <div class="footer-item">
                        <p>
                            <span><strong>CMW camping travle</strong></span>
                        </p>
                        <p>
                            <span>T. 051-111-1234 | F. 051-222-3456 | E. mailok@mail.com <br></span>
                        </p>
                        <p>
                            <span>부산광역시 서면 123로 561-30(작성자)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span>Copyrightⓒ CWM 캠핑 & All rights reserved.</span>
            </div>
            <div>
                <div class="footer-icon">
                    <a><i class="fa-brands fa-square-instagram"></i></a>
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-tiktok"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>