<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="footer_a">
        <div class="footer-container">
            <div class="footer-wrap">
                <div>
                    <div class="footer-item">
                        <p>
                            <span><strong>CMW camping travle</strong></span>
                        </p>
                        <p>
                            <span>T. 051-111-1234 | F. 051-222-3456 | E. mailok@mail.com <br></span>
                        </p>
                        <p>
                            <span>부산광역시 서면 123로 561-30(작성자)</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span>Copyrightⓒ CWM 캠핑 & All rights reserved.</span>
            </div>
            <div>
                <div class="footer-icon">
                    <a><i class="fa-brands fa-square-instagram"></i></a>
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-tiktok"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>