<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header 파트 </title>
</head>
<body>
    <div th:fragment="header_a">
        <div class="p-fix">
            <div class="header-container">
                <div class="header-top">
                    <div class="top-right">

                        <span>
                            <th:block th:if="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/register}">회원가입</a>
                            </th:block>

                            <th:block th:unless="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/mypage}">[[${session.LoginIn.userName}]]님</a>
                            </th:block>
                        </span>

                        <span>
                            <th:block th:if="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/login}">로그인</a>
                            </th:block>

                            <th:block th:unless="${#strings.isEmpty(session.LoginIn)}">
                                <a th:href="@{/login/logout}">로그아웃</a>
                            </th:block>
                        </span>

                    </div>
                </div>
                <div class="header-Line">
                    <div class="Logo">
                        <h3><a href="/index">CWM.CWM</a></h3>
                    </div> 
                    <div class="header-menu">  
                        <ul class="menuList">
                            <li>
                                <a href="/place/map">캠핑장 이용안내</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="/place/map">캠핑장 위치</a>
                                    </li>
                                    <li>
                                        <a href="">지역별 날씨</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/place/place">캠핑장 정보</a>
                            </li>
                            <li>
                                <a href="/reservation">예약/결제</a>
                            </li>
                            <li>
                                <a href="/place/placetool">캠핑 팁</a>
                                <ul class="submenu sub-left">
                                    <li>
                                        <a href="/place/placetool">캠핑 도구</a>
                                    </li>
                                    <li>
                                        <a href="/place/placefood">캠핑 음식</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/notice">캠핑 게시판</a>
                                <ul class="submenu sub-right">
                                    <li>
                                        <a href="/notice">공지사항</a>
                                    </li>
                                    <li>
                                        <a href="">캠핑 리뷰</a>
                                    </li>
                                    <li>
                                        <a href="">Q&A</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>